<%- include('header') %>

<!-- Welcome Page Container -->
<div class="  d-flex flex-column justify-content-center align-items-center min-vh-100 text-white" id="welcome-page">
    <!-- Welcome Message -->
    <div class="welcome welcome-box text-center p-4 shadow-lg">
        <h1 class="display-4 mb-4 text-light">Welcome</h1>
        <p class="lead">We're thrilled to have you here. Explore and enjoy all that we offer!</p>
        
        <!-- Logout Button -->
        <a href="/route/logout" class="btn btn-outline-light mt-4 px-4 py-2 rounded-pill">Logout</a>
    </div>
</div>

<%- include('footer') %>
