@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url('assets/20586470.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
form{
    width: 430px;
    height: 480px;
    backdrop-filter: blur(40px);
    border: 2px solid rgba(255, 255, 255, .55);
    border-radius: 16px;
    padding: 0 2.8%;
 } 
.input-box{
    height: 50px;
    margin:  20px 0;
}
.input-box input{
    background: transparent;
    padding-right: 45px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .6);
}

.input-box input::placeholder{
    color: white;
}
.input-box ion-icon{
    font-size: 22px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}
.submit-btn{
    height: 45px;
    margin:  20px 0;
}

.welcome{
    width: 100%;
    height: 250px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .55);
    border-radius: 20px;
    padding: 0 2.8%;
}